<!-- Task 10 - The first restaurant section "About our kitchen" -->
<section class="restaurant-kitchen">
  <div class="rest-container">
    <div class="rest-row-above">
      <div class="rest-box-above">
        <p class="text-above-head">Amet minim mollit non</p>
        <h2 class="text-above-name">МІМІНО</h2>
        <p class="text-above">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        src="./src/img/task-10/restaurant-kitchen-mob.jpg"
        srcset="
          ./src/img/task-10/restaurant-kitchen-mob.jpg    1x,
          ./src/img/task-10/restaurant-kitchen-mob@2x.jpg 2x
        "
        alt="restaurant-kitchen"
        width="244px"
        height="322px"
        class="img-row-above"
      />
    </div>
    <div class="rest-row-middle">
      <img
        src="./src/img/task-10/restaurant-meat-mob.jpg"
        srcset="
          ./src/img/task-10/restaurant-meat-mob.jpg    1x,
          ./src/img/task-10/restaurant-meat-mob@2x.jpg 2x
        "
        alt="fresh-meat"
        width="200px"
        height="278px"
        class="img-row-middle"
      />
      <div class="rest-box-middle">
        <p class="text-middle">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet..
        </p>
      </div>
    </div>
    <ul class="rest-photo-list list">
      <li class="rest-photo-item">
        <img
          src="./src/img/task-10/restaurant-baker-mob.jpg"
          srcset="
            ./src/img/task-10/restaurant-baker-mob.jpg    1x,
            ./src/img/task-10/restaurant-baker-mob@2x.jpg 2x
          "
          alt="hands-in-powder"
          width="245px"
          height="245px"
          class="img-row-bottom"
        />
      </li>
      <li class="rest-photo-item">
        <img
          src="./src/img/task-10/restaurant-hinkali-mob.jpg"
          srcset="
            ./src/img/task-10/restaurant-hinkali-mob.jpg    1x,
            ./src/img/task-10/restaurant-hinkali-mob@2x.jpg 2x
          "
          alt="hinkali"
          width="245px"
          height="245px"
          class="img-row-bottom"
        />
      </li>
    </ul>
    <ul class="rest-slider-list list">
      <li class="rest-slider-item">
        <button type="button" class="rest-slider-btn">
          <svg class="slider-icon" width="32px" height="32px">
            <use href="./src/img/task-10/icon-arrow-left.svg"></use>
          </svg>
        </button>
      </li>
      <li class="rest-slider-item">
        <button type="button" class="rest-slider-btn">
          <svg class="slider-icon" width="32px" height="32px">
            <use href="./src/img/task-10/icon-arrow-right.svg"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
