<button type="button">X</button>
<p>ЗАБРОНЮВАТИ СТОЛИК</p>
<form>
    <input type="text" name="user-name" id="name" placeholder="Ваше ім’я" required>
    <label for="name">На кого забронювати столик?</label>

    <input type="number" name="user-number" id="number" min="1" value="2" required>
    <label for="number">Столик на яку кількість осіб?</label>

    <input type="tel" name="user-tel" id="tel" placeholder="+38 (___) ___-__-__" required>
    <label for="tel">Номер телефону</label>

    <input type="text" name="user-date" id="date" placeholder="Сьогодні" required>
    <label for="date">На яку дату бронювати?</label>

    <button type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
</form>