<!-- Task 3 - The first home section "About our restaurant" -->
<section class="home-about-restrong container">
  <h1 class="visually-hidden">About our hotel</h1>
  <h2 class="home-about-restrong-header">Amet minim mollit non</h2>
  <p class="home-about-restrong-name">Mimiho</p>
  <p class="home-about-restrong-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img
    class="home-about-restrong-img"
    srcset="
      ../img/task-3/restaurant-interior-1-mobile.jpg    1x,
      ../img/task-3/restaurant-interior-1-mobile@2x.jpg 2x
    "
    src="../img/task-3/restaurant-interior-1-mobile.jpg"
    alt="restaurant interior foto"
    width="445"
    height="322"
  />
  <img
    class="home-about-restrong-img"
    srcset="
      ../img/task-3/restaurant-interior-2-mobile.jpg    1x,
      ../img/task-3/restaurant-interior-2-mobile@2x.jpg 2x
    "
    src="../img/task-3/restaurant-interior-2-mobile.jpg"
    alt="restaurant interior foto"
    width="251"
    height="310"
  />
  <p class="home-about-restrong-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="about-restrong-photo-list">
    <li class="about-restrong-photo-item">
      <img
        class="about-restrong-photo-img"
        srcset="
          ../img/task-3/restaurant-interior-slider-1-mobile.jpg    1x,
          ../img/task-3/restaurant-interior-slider-1-mobile@2x.jpg 2x
        "
        src="../img/task-3/restaurant-interior-slider-1-mobile.jpg"
        alt="restaurant interior foto"
        width="245"
        height="245"
      />
    </li>
    <li class="about-restrong-photo-item">
      <img
        class="about-restrong-photo-img"
        srcset="
          ../img/task-3/restaurant-interior-slider-2-mobile.jpg    1x,
          ../img/task-3/restaurant-interior-slider-2-mobile@2x.jpg 2x
        "
        src="../img/task-3/restaurant-interior-slider-2-mobile.jpg"
        alt="restaurant interior foto"
        width="245"
        height="245"
      />
    </li>
  </ul>
  <ul class="about-restrong-button-list">
    <li class="about-restrong-button-item">
      <button class="about-restrong-button-btn">
        <svg class="about-restrong-button-svg">
          <use href="../img/task-3/slider-icons.svg#icon-slide-left"></use>
        </svg>
      </button>
    </li>
    <li class="about-restrong-button-item">
      <button class="about-restrong-button-btn">
        <svg class="about-restrong-button-svg">
          <use href="../img/task-3/slider-icons.svg#icon-slide-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
