<!-- Task 14 - The second hotel section "1 room for 3 adult" -->
<section class="hotel-three">
  <div class="container">
    <div class="hotel-three-left-side">
      <img src="#" alt="room view" srcset="#" width="780" height="574" />
      <div class="hotel-three-btn-list">
        <a href="../room.html"> Детальніше</a>
        <button type="button" class="hotel-ththree-btn-item">
          Переглянути ціни
        </button>
      </div>
    </div>

    <div class="hotel-three-right-side">
      <p class="hotel-three-pretitle-description">Amet minim mollit non</p>
      <p class="hotel-three-pretitle">MIMIHO</p>
      <h2 class="hotel-three-title">ТРЬОХМІСНИЙ НОМЕР</h2>
      <p class="hotelthree-title-description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet
      </p>
      <ul class="hotel-three-img-list">
        <li>
          <img
            src="#"
            alt="bathroom view"
            srcset="#"
            width="254"
            height="254"
          />
        </li>
        <li>
          <img
            src="#"
            alt="view from holel window"
            srcset="#"
            width="254"
            height="254"
          />
        </li>
      </ul>
      <ul class="hotel-three-scrol">
        <li>
          <svg class="hotel-three-scrol-icon" width="32" height="32">
            <use href="#"></use>
          </svg>
        </li>
        <li>
          <svg class="hotel-three-scrol-icon" width="32" height="32">
            <use href="#"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
