<!-- Task 5 - The third home section "About our hotel" -->
<section class="container">
    <h2 class="visually-hidden">About our hotel</h2>
    <img 
    srcset="./img/task-five/hotel-2x.jpg 1x, 
    ./img/task-five/hotel-2x.jpg 2x"
    src="./img/task-five/hotel-1x.jpg"
     alt="hotel-638023_19201"
     width="460">
    <p>Amet minim mollit non</p>
    <h3>Mimiho</h3>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <img 
    srcset="./img/task-five/modern-studio-apartment-1x.jpg 1x, 
    ./img/task-five/modern-studio-apartment-2x.jpg  2x"
    src="./img/task-five/modern-studio-apartment-1x.jpg" 
    alt="modern-studio-apartment-design-with-bedroom-living-space"
    width="460">
    <img 
    srcset="./img/task-five/hotelregistration-1x.jpg 1x,
    ./img/task-five/hotelregistration-2x.jpg 2x"
  src="./img/task-five/hotelregistration-1x.jpg" 
    alt="hotel-registration"
    width="254">
    <img
    srcset="./img/task-five/white-towel-bed-1x.jpg 1x, 
    ./img/task-five/white-towel-bed-2x.jpg 2x"
    src="./img/task-five/white-towel-bed-1x.jpg" 
    alt="white-towel-bed-decoration-bedroom-interior"
    width="254">
</section>