<!-- Task 17 - The first room secction "Amenities" -->
<section class="container seventeen-container">
<h2 class="seventeen-text-first">ЗРУЧНОСТІ У НОМЕРІ</h2>
<p class="seventeen-text seventeen-margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<ul>
    <li>
<h3 class="seventeen-text-second">ЗАГАЛЬНІ</h3>
<p class="seventeen-text seventeen-margin-small">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </li>
    <li>
<p class="seventeen-text seventeen-margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </li>
    <li>
<h3 class="seventeen-text-second">ВАННА КІМНАТА</h3>
<p class="seventeen-text seventeen-margin-small">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </li>
    <li>
<p class="seventeen-text seventeen-margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </li>
    <li>
<h3 class="seventeen-text-second">СПАЛЬНЯ</h3>
<p class="seventeen-text seventeen-margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
    </li>
    <li>
<h3 class="seventeen-text-second">КУХНЯ</h3>
<p class="seventeen-text seventeen-margin-small">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
    </li>
    <li>
<p class="seventeen-text seventeen-margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
    </li>
    <li>
   <h3 class="seventeen-text-second">МЕДІА</h3>
   <p class="seventeen-text seventeen-margin">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
    </li>
</ul>
<button type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
<a href="./hotel.html">
    <p class="seventeen-text-last">Повернутися до перегляду номерів</p>
    <svg width="24" height="24">
        <use href="./symbol-defs.svg#icon-arrow-right-yellow">
        </use>
    </svg>
</a>
</section>