<!-- Task 11 - The second restaurant section "Menu" -->
<section class="rest-menu-container container">
  <h2 id="menu" class="menu-head-text">Меню ресторану</h2>
  <div class="menu-separate-box">
    <div class="dish-container">
      <h3 class="dish-title">Гарячі страви</h3>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Борщ з телятини з квасолею</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">400 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">240 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Суп сирний з куркою</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">400 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">200 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Паста карбонара</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">350 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">430 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Стейк зі свинини</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">400 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">500 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Горбуша в соусі з білого вина</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">400 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">400 грн</p>
        </div>
      </div>
    </div>
    <!----------Гарніри------->
    <div class="dish-container">
      <h3 class="dish-title">Гарніри та закуски</h3>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Запечені овочі</p>
          <div class="ingridient-box">
            <p class="ingridient">Кабачок, перець, помідор, баклажан</p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">200 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">230 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Картопля фрі</p>
          <div class="ingridient-box">
            <p class="ingridient">Картопля, соус томатний</p>
          </div>
        </div>
        <p class="dish-netto">150 г</p>
        <p class="dish-price">160 грн</p>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Картопля по-селянськи</p>
          <div class="ingridient-box">
            <p class="ingridient">Картопля, спеції, соус пікантний</p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">150 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">160 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Хрумкі соління з бочки</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">250 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">350 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Крильця курячі в медовому соусі</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">400 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">420 грн</p>
        </div>
      </div>
    </div>
    <!----------Салати------->
    <div class="dish-container">
      <h3 class="dish-title">Салати</h3>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Цезар з куркою</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">230 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">450 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Цезар з креветками</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">230 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">300 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Грецький салат</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">230 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">280 грн</p>
        </div>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">М’ясний салат</p>
          <div class="ingridient-box">
            <p class="ingridient">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </p>
          </div>
        </div>
        <div class="netto-price-box">
          <p class="dish-netto">230 г</p>
        </div>
        <div class="netto-price-box">
          <p class="dish-price">300 грн</p>
        </div>
      </div>
    </div>
    <!----------Десерти------->
    <div class="dish-container">
      <h3 class="dish-title">Десерти</h3>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Торт наполеон</p>
        </div>
        <p class="dish-netto">230 г</p>
        <p class="dish-price">300 грн</p>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Торт маковий</p>
        </div>
        <p class="dish-netto">230 г</p>
        <p class="dish-price">300 грн</p>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Тірамісу</p>
        </div>
        <p class="dish-netto">120 г</p>
        <p class="dish-price">260 грн</p>
      </div>
    </div>
    <!---------Напої---------->
    <div class="dish-container last-dish-container">
      <h3 class="dish-title">Напої</h3>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Чай чорний/зелений</p>
        </div>
        <p class="dish-netto">500 мл</p>
        <p class="dish-price">100 грн</p>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Еспресо</p>
        </div>
        <p class="dish-netto">30 мл</p>
        <p class="dish-price">100 грн</p>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Американо</p>
        </div>
        <p class="dish-netto">150 мл</p>
        <p class="dish-price">100 грн</p>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Капучино</p>
        </div>
        <p class="dish-netto">200 мл</p>
        <p class="dish-price">160 грн</p>
      </div>
      <div class="dish-title-subbox">
        <div class="dish-text">
          <p class="dish-name">Лате</p>
        </div>
        <p class="dish-netto">200 мл</p>
        <p class="dish-price">160 грн</p>
      </div>
    </div>
  </div>
  <button type="button" class="rest-book-table-btn" data-book-table-modal-open>
    Забронювати столик
  </button>
</section>

<!-- <table>
        <caption>Борщ з телятини з квасолею</caption>
        <tr>
            <td>Телятина, картопля, капуста, морква, цибуля, квасоля,
                 часник, помідори, зелень, сметана</td>
            <td>400 г</td>
            <td>240 грн</td>
        </tr>
    </table> -->
