<!-- Task 15 - The third hotel section "1 room for 2 adult" -->
<section class="1-room-for-2-adult">
  <p class="2-adult-text-non">Amet minim mollit non</p>
  <p class="2-adult-logo">MIMIHO</p>
  <h2 class="2-adult-title">ДВОМІСНИЙ НОМЕР</h2>
  <p class="2-adult-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>

  <ul class="2-adult-list-img">
    <li class="2-adult-item-img">
      <picture>
        <source
          srcset="
            ../img/task-15/arrangement.jpg    1x,
            ../img/task-15/arrangement-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/task-15/arrangement-mob-tab.jpg    1x,
            ../img/task-15/arrangement-mob-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ../img/task-15/arrangement-mob-tab.jpg    1x,
            ../img/task-15/arrangement-mob-tab-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/task-15/arrangement.jpg"
          alt="bathroom"
          width="254"
          height="254"
        />
      </picture>
    </li>
    <li class="2-adult-item-img">
      <picture>
        <source
          srcset="
            ../img/task-15/cup-tea.jpg    1x,
            ../img/task-15/cup-tea-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/task-15/cup-tea-mob-tab.jpg    1x,
            ../img/task-15/cup-tea-mob-tab-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ../img/task-15/cup-tea-mob-tab.jpg    1x,
            ../img/task-15/cup-tea-mob-tab-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="../img/task-15/cup-tea.jpg"
          alt="cup tea"
          width="254"
          height="254"
        />
      </picture>
    </li>
  </ul>
  <ul class="2-adult-list-slider">
    <li class="2-adult-item-slider">
      <svg width="30" height="17">
        <use href="../img/task-15/left-rigt-svg.svg#icon-left"></use>
      </svg>
    </li>
    <li class="2-adult-item-slider">
      <svg width="30" height="17">
        <use href="../img/task-15/left-rigt-svg.svg#icon-right"></use>
      </svg>
    </li>
  </ul>
  <picture>
    <source
      srcset="../img/task-15/2-adult.jpg 1x, ../img/task-15/2-adult-2x.jpg 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="
        ../img/task-15/2-adult-tab.jpg    1x,
        ../img/task-15/2-adult-tab-2x.jpg 2x
      "
      media="(min-width: 1024px)"
    />
    <source
      srcset="
        ../img/task-15/2-adult-mob.jpg    1x,
        ../img/task-15/2-adult-mob-2x.jpg 2x
      "
      media="(min-width: 320px)"
    />
    <img
      src="../img/task-15/2-adult.jpg"
      alt="1 room for 2 adult"
      width="780"
      height="574"
    />
  </picture>
  <a class="2-adult-link" href="../room.html">Детальніше</a>
  <button class="2-adult-btn" type="button">Переглянути ціни</button>
</section>
