<!-- Task 6 - The fourth home section "Details of our hotel" -->

<section class="details">
    <p class="details-logo">mimiho</p>
    <h2 class="details-title">Готель</h2>
    <p class="details-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    <img class="details-slider" srcset="/src/img/task6/Task6slider.png 1x, /src/img/task6/Task6slider2x.png 2x" 
    src="/src/img/task6/Task6slider.png" alt="Pictures of the hotel" width="875" height="270">
    <button class="details-btn" type="button">Забронювати номер</button>
    <a class="details-link" href="../hotel.html"><button class="details-btn" type="button">Переглянути ціни</button><a >
</section>

