<!-- Task 4 - The second home section "Details of our restaurant" -->
<section>
  <ul>
    <li>
      <button>Забронювати столик</button>
    </li>
    <li>
      <button>Переглянути меню</button>
    </li>
  </ul>
  <h1></h1>
  <p>MIMIHO</p>
  <h2>Ресторан</h2>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit.
  </p>
  <ul>
    <li><img src="" alt=""></li>
    <li><img src="" alt=""></li>
    <li><img src="" alt=""></li>
  </ul>
  <ul>
    <li><button></button></li>
    <li><button></button></li>
  </ul>
</section>
