<!-- Task 12 - Hero hotel -->
<section class="hero-hotel">
  <div class="container">
    <h1 class="title-hotel">MIMIHO</h1>
    <h2 class="sub-title-hotel">Смак життя 24/7</h2>

    <div class="hero-first">
      <svg width="24" height="24" class="hero-icon-nav">
        <use href="#"></use>
      </svg>
      <a
        href="https://goo.gl/maps/6x7AWUaYF18svN9c6"
        rel="noopener noreferrer nofollow"
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
    </div>

    <ul class="hero-hotel-buttons">
      <li>
        <button type="button" class="hero-btn">Забронювати столик</button>
      </li>
      <li>
        <button type="button" class="hero-btn">Переглянути меню</button>
      </li>
    </ul>
    <ul class="hero-soc-list">
      <li class="hero-soc-items">
        <a
          href="#"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use href="#"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-items">
        <a
          href="#"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use href="#"></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-items">
        <a
          href="#"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use href="#"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
