<!-- Task 14 - The second hotel section "1 room for 3 adult  -->
<section class="hotel-three">
  <div class="container container-three-hotel">
    <p class="hotel-three-pretitle-description">Amet minim mollit non</p>
    <p class="hotel-three-pretitle">
      Mimih<span class hotel-three-letter>o</span>
    </p>
    <h2 class="hotel-three-title">ТРЬОХМІСНИЙ НОМЕР</h2>
    <p class="hotel-three-title-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="./img/task-15/2-adult.jpg 1x, ./img/task-15/2-adult-2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/task-15/2-adult-tab.jpg    1x,
          ./img/task-15/2-adult-tab-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          ./img/task-15/2-adult-mob.jpg    1x,
          ./img/task-15/2-adult-mob-2x.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="hotel-three-room-img"
        src="./img/task-15/2-adult.jpg"
        alt="1 room for 2 adult"
        width="460"
        height="574"
      />
    </picture>
    <div class="hotel-three-img-btn-box">
      <div class="hotel-three-cover">
        <ul class="hotel-three-list-img">
          <li class="hotel-three-item-img">
            <picture>
              <source
                srcset="
                  ./img/task-15/arrangement.jpg    1x,
                  ./img/task-15/arrangement-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/task-15/arrangement-mob-tab.jpg    1x,
                  ./img/task-15/arrangement-mob-tab-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/task-15/arrangement-mob-tab.jpg    1x,
                  ./img/task-15/arrangement-mob-tab-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="hotel-three-slider-img"
                src="./img/task-15/arrangement.jpg"
                alt="bathroom"
                width="254"
                height="254"
              />
            </picture>
          </li>
          <li class="hotel-three-item-img">
            <picture>
              <source
                srcset="
                  ./img/task-15/cup-tea.jpg    1x,
                  ./img/task-15/cup-tea-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/task-15/cup-tea-mob-tab.jpg    1x,
                  ./img/task-15/cup-tea-mob-tab-2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./img/task-15/cup-tea-mob-tab.jpg    1x,
                  ./img/task-15/cup-tea-mob-tab-2x.jpg 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="hotel-three-slider-img"
                src="./img/task-15/cup-tea.jpg"
                alt="cup tea"
                width="254"
                height="254"
              />
            </picture>
          </li>
        </ul>
        <ul class="hotel-three-list-slider">
          <li class="hotel-three-item-slider">
            <button type="button" class="hotel-three-left-btn">
              <svg width="32" height="32">
                <use href="./img/task-15/left-rigt-svg.svg#icon-left"></use>
              </svg>
            </button>
          </li>
          <li class="hotel-three-item-slider">
            <button type="button" class="hotel-three-right-btn">
              <svg width="32" height="32">
                <use href="./img/task-15/left-rigt-svg.svg#icon-right"></use>
              </svg>
            </button>
          </li>
        </ul>
  <div class="container">
    <div class="hotel-three-left-side">
      <img src="#" alt="room view" srcset="#" width="780" height="574" />
      <div class="hotel-three-btn-list">
        <a href="./room.html"> Детальніше</a>
        <button type="button" class="hotel-ththree-btn-item js-open-modal" data-modal="2">
          Переглянути ціни
        </button>
      </div>
        </li>
      </ul>
    </div>
  </div>
</section>
