<!-- Book Table Modal window -->
<div class="t-modal-backdrop is-hidden-t" data-modal-table>
  <div class="t-modal">
    <button type="button" class="t-modal-close-btn">
      <svg class="t-modal-close-icon" width="24" height="24">
        <use href="./img/img.svg#icon-modal-close-btn"></use>
      </svg>
    </button>
    <h1 class="t-modal-name">ЗАБРОНЮВАТИ СТОЛИК</h1>
    <form class="t-modal-form">
      <div class="t-modal-form-thumb">
        <label class="t-modal-list">
          <input
            class="t-modal-input"
            type="text"
            name="user-name"
            placeholder="Ваше ім’я"
            pattern="^[А-Яа-яЁё\s]+$"
            required
          />
          <span class="t-modal-label-name">На кого забронювати столик?</span>
        </label>
        <label class="t-modal-list t-modal-arrow">
          <select class="t-modal-input" name="user-number" required>
            <option value="" selected>2</option>
          </select>
          <span class="t-modal-label-name">Столик на яку кількість осіб?</span>
        </label>
        <label class="t-modal-list">
          <input
            class="t-modal-input"
            type="tel"
            name="user-tel"
            placeholder="+38 (___) ___-__-__"
            pattern="^+380\d{3}\d{2}\d{2}\d{2}$"
            required
          />
          <span class="t-modal-label-name">Номер телефону</span>
        </label>
        <label class="t-modal-list t-modal-arrow">
          <select class="t-modal-input" name="user-date" required>
            <option value="" selected>Сьогодні</option>
          </select>
          <span class="t-modal-label-name">На яку дату бронювати?</span>
        </label>
      </div>
      <button type="submit" class="t-modal-send-btn" data-modal-close-table>
        ОФОРМИТИ БРОНЮВАННЯ
      </button>
    </form>
  </div>
</div>
