<!-- Task 16 - Hero room -->
<section class="hero-room">
  <a class="hero-room-link" href="https://goo.gl/maps/cxyWYQsDBJxXMkCH7"
    >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
  >
  <ul class="hero-room-list-slider">
    <li class="hero-room-item-slider">
      <svg width="37" height="21">
        <use href="../img/task-15/left-rigt-svg.svg#icon-right"></use>
      </svg>
    </li>
    <li class="hero-room-item-slider">
      <svg width="37" height="21">
        <use href="../img/task-15/left-rigt-svg.svg#icon-left"></use>
      </svg>
    </li>
  </ul>
  <h1 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
  <p class="hero-room-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="hero-room-list-soc">
    <li class="hero-room-item-soc">
      <svg width="22" height="22">
        <use href="../img/task-16/soc-icon-svg.svg#icon-insta"></use>
      </svg>
    </li>
    <li class="hero-room-item-soc">
      <svg width="20" height="20">
        <use href="../img/task-16/soc-icon-svg.svg#icon-fb"></use>
      </svg>
    </li>
    <li class="hero-room-item-soc">
      <svg width="20" height="18" color="red">
        <use href="../img/task-16/soc-icon-svg.svg#icon-twitter"></use>
      </svg>
    </li>
  </ul>
  <button class="hero-room-btn" type="button">Переглянути ціни</button>
</section>
