<!-- Task 16 - Hero room -->
<section class="hero-room ">
  <div class="container">
  <div class="hero-room-container container">
    <ul class="hero-room-list-slider">
      <li class="hero-room-item-slider">
        <button type="button" class="hero-room-btn-slider">
          <svg class="hero-room-svg-slider" width="37" height="21">
            <use href="./img/task-15/left-rigt-svg.svg#icon-left"></use>
          </svg>
        </button>
      </li>
      <li class="hero-room-item-slider">
        <button type="button" class="hero-room-btn-slider">
          <svg class="hero-room-svg-slider" width="37" height="21">
            <use href="./img/task-15/left-rigt-svg.svg#icon-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <h1 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h1>
    <p class="hero-room-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="hero-soc-btn-box">
      <ul class="hero-room-list-soc">
        <li class="hero-room-item-soc">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="social-link"
            ><svg width="24" height="24" style="">
              <use href="./public/icon-headerfooter.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-room-item-soc">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="social-link-soc"
            ><svg width="24" height="24" style="">
              <use href="./public/icon-headerfooter.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero-room-item-soc">
          <a
            href="https://www.t.me/"
            target="_blank"
            rel="noreferrer noopener"
            class="social-link"
            ><svg width="24" height="24" style="">
              <use href="./public/icon-headerfooter.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="hero-room-btn js-open-modal" type="button" data-modal="2">Переглянути ціни</button>
    </div>
  </div>
  <a class="hero-room-address-link" href="https://goo.gl/maps/cxyWYQsDBJxXMkCH7"
    >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
  >
</div>
</section>
