<!-- Task 12 - Hero hotel -->
<section class="hero-hotel container">
  <div class="hero-box">
    <h1 class="animate__flip animate__animated title-hotel">MIMIHO</h1>
    <h2 class="sub-title-hotel">Готель</h2>
      <address class="hero-icon-nav">
      <a
        href="https://goo.gl/maps/8BwuumtGxX6HWBwf6"
        target="_blank"
        rel="noreferrer noopener nofollow"
        class="hotel-map-link"
        >Україна, м.Полтава, <br />
        вул.Маршала Бірюзова, 15</a
      >
    </address>
    <ul class="hero-hotel-buttons">
      <li>
        <button type="button" class="hero-btn js-open-modal" data-modal="1">Забронювати номер</button>
      </li>
      <li>
        <button type="button" class="hero-btn js-open-modal" data-modal="2">Переглянути ціни</button>
      </li>
    </ul>
    <ul class="hero-soc-list">
      <li class="hero-soc-items">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use
              href="../img/task_12/icon-hero-hotel.svg#icon-akar-icons_instagram-fill"
            ></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-items">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use
              href="../img/task_12/icon-hero-hotel.svg#icon-jam_facebook-square"
            ></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-items">
        <a
          href="https://www.t.me/"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use
              href="../img/task_12/icon-hero-hotel.svg#icon-la_telegram-plane"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
