<!-- Task 2 - Hero home -->
<section class="home-hero container">

    <div>
      <h1 class="home-hero-name">Mimiho</h1>
      <h2 class="home-hero-text">Ресторанно-готельний комплекс</h2>
      <p class="home-hero-slogan">СМАК ЖИТТЯ 24/7</p>
      <ul class="home-hero-reservation">
        <li class="home-hero-reservation-item">
          <button type="button" class="home-hero-reservation-btn">
            Забронювати столик
          </button>
        </li>
        <li class="home-hero-reservation-item">
          <button type="button" class="home-hero-reservation-btn">
            Забронювати номер
          </button>
        </li>
      </ul>
         <ul class="social-header-list">
      <li class="social-item">
        <a href="#" class="social-link"
          ><svg width="24" height="24" style="">
            <use href="./public/icon-headerfooter.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#" class="social-link"
          ><svg width="24" height="24" style="">
            <use href="./public/icon-headerfooter.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#" class="social-link"
          ><svg width="24" height="24" style="">
            <use href="./public/icon-headerfooter.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </div>
       <a class="home-hero-address" href="https://goo.gl/maps/ks52Pf13mz2xmkKk7"
      >Україна, м. Полтава, <br>вул. Маршала Бірюзова, 15</a
    >
</section>
