<!-- Task 5 - The third home section "About our hotel" -->

<section class="five-container">
    <div class="container">
    <h2 class="visually-hidden">About our hotel</h2>
    <div class="one-box">
    <div class="five-box">
        <p class="five-textroman">Amet minim mollit non</p>
        <h3 class="five-first-text">Mimiho</h3>
        <p class="five-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    <div class="five-container-position">
    <img class="five-foto-moder five-shadow" 
    srcset="./img/task-five/modern-studio-apartment-1x.jpg 1x, 
    ./img/task-five/modern-studio-apartment-2x.jpg  2x"
    src="./img/task-five/modern-studio-apartment-1x.jpg" 
    alt="modern-studio-apartment-design-with-bedroom-living-space">
</div>
</div>
<div class="five-box-picture">
    <div class="five-brown">
<p class="five-text five-brown-color">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>
    <img class="five-foto-hotel five-shadow" 
    srcset="./img/task-five/hotel-1x.jpg 1x, 
    ./img/task-five/hotel-2x.jpg 2x"
    src="./img/task-five/hotel-1x.jpg"
     alt="hotel-638023_19201">
    </div>
    <div class="five-container-swipe">
        <div class="five-two-box">
<ul class="five-swipe">
    <li>
        <div class="five-foto-box five-hidden">
    <img class="foto-hotel-reg five-shadow"
    srcset="./img/task-five/white-towel-bed-1x.jpg 1x, 
    ./img/task-five/white-towel-bed-2x.jpg 2x"
    src="./img/task-five/white-towel-bed-1x.jpg" 
    alt="white-towel-bed-decoration-bedroom-interior">
</div>
<div class="five-hidden-d-t">
    <img class="foto-hotel-reg-mobile five-shadow"
    srcset="./img/task-five/white-towel-bed-mobile-1x.jpg 1x, 
    ./img/task-five/white-towel-bed-mobile-2x.jpg 2x"
    src="./img/task-five/white-towel-bed-mobile-1x.jpg" 
    alt="white-towel-bed-decoration-bedroom-interior">
</div>
</li>
<li>
    <div class="five-foto-box">
    <img class="foto-hotel-reg five-shadow"
    srcset="./img/task-five/hotelregistration-1x.jpg 1x,
    ./img/task-five/hotelregistration-2x.jpg 2x"
  src="./img/task-five/hotelregistration-1x.jpg" 
    alt="hotel-registration"></div>
</li>
</ul>
<ul class="home-restaurant-button-list">
    <li class="home-restaurant-button-item">
      <button class="home-restaurant-button-btn">
        <svg class="button-svg-four" width="32" height="32">
            <use href="./symbol-defs.svg#icon-arrow-left-black">
            </use>
        </svg>
      </button>
    </li>
    <li class="home-restaurant-button-item">
      <button class="home-restaurant-button-btn">
        <svg class="button-svg-four" width="32" height="32">
            <use href="./symbol-defs.svg#icon-arrow-right-black">
            </use>
        </svg>
      </button>
    </li>
  </ul> 
</div>
</div>
</div>
</section>

<!-- 
<ul  class="five-svg">
    <li>
        <a href="#">
            <svg width="32" height="32">
                <use href="./symbol-defs.svg#icon-arrow-left-black">
                </use>
            </svg>
              <svg class="home-restaurant-button-svg-four">
            <use href="./symbol-defs.svg#icon-arrow-left-black">
        </svg> 
        </a>
    </li>
    <li>
        <a href="#">
            <svg width="32" height="32">
                <use href="./symbol-defs.svg#icon-arrow-right-black">
                </use>
            </svg>
                 <svg class="home-restaurant-button-svg-four">
            <use href="./symbol-defs.svg#icon-arrow-right-black">
        </svg> 
        </a>
    </li> -->