<!-- Room Price Modal window -->
<div class="p-modal modal" data-modal="2">
  <button type="button" class="modal-close-btn js-modal-close">
    <svg class="modal-close-icon" width="24" height="24">
      <use href="./img/modal/img.svg#icon-modal-close-btn"></use>
    </svg>
  </button>
  <h1 class="modal-name">ЦІНИ НА НОМЕР</h1>
  <h2 class="p-modal-room">Двомісний люкс</h2>
  <p class="p-modal-category">Категорія номеру</p>
  <form class="p-modal-form">
    <div class="p-modal-form-thumb">
      <label class="modal-list">
        <select class="modal-input" name="user-date" required>
          <option value="" selected>1</option>
          <option value="" selected>2</option>
          <option value="" selected>3</option>
          <option value="" selected>4</option>
          <option value="" selected>5</option>
        </select>
        <span class="modal-label-name">Кількість ночей</span>
        <div class="modal-field-thumb">1</div>
      </label>
      <label class="modal-list">
        <input
          class="modal-input"
          type="text"
          name="user-price"
          placeholder="1000"
          pattern="^[ 0-9]+$"
          required
        />
        <span class="modal-label-name">грн</span>
      </label>
    </div>
    <button type="submit" class="modal-send-btn">ЗАБРОНЮВАТИ НОМЕР</button>
  </form>
</div>
