<!-- Task 2 - Hero home -->
<section class="home-hero container">
  <h1 class="home-hero-name">Mimiho</h1>
  <p class="home-hero-text">Ресторанно-готельний комплекс</p>
  <h2 class="home-hero-slogan">СМАК ЖИТТЯ 24/7</h2>
  <a class="home-hero-address" href="https://goo.gl/maps/ks52Pf13mz2xmkKk7"
    >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
  >
  <ul class="home-hero-reservation">
    <li class="home-hero-reservation-item">
      <button type="button" class="home-hero-reservation-btn">
        Забронювати столик
      </button>
    </li>
    <li class="home-hero-reservation-item">
      <button type="button" class="home-hero-reservation-btn">
        Забронювати номер
      </button>
    </li>
  </ul>
</section>
