<!-- Task 9 - Hero restaurant -->
<section class="hero-restaurant container">
  <div class="bg-rest">
    <div class="rest-hero-textbox">
      <h1 class="rest-hero-title">Mimiho</h1>
      <h2 class="rest-hero-pretitle">Ресторан</h2>
      <p class="rest-hero-slogan">Смак життя 24/7</p>
    </div>
    <address class="rest-map">
      <a
        href="https://goo.gl/maps/8BwuumtGxX6HWBwf6"
        target="_blank"
        rel="noreferrer noopener"
        class="rest-map-link"
        >Україна, м.Полтава, <br />
        вул.Маршала Бірюзова,15</a
      >
    </address>
    <div class="rest-modal-btn-list">
      <button type="button" class="rest-modal-btn" data-book-table-modal-open>
        Забронювати столик
      </button>
      <div class="anker-menu-box">
        <a href="#menu" class="anker-menu link">Переглянути меню</a>
      </div>
    </div>
    <ul class="rest-social-list">
      <li class="rest-social-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
          class="social-link"
        >
          <svg class="rest-social-icon" width="24px" height="24px">
            <use href="../img/task-9/symbol-defs.svg#icon-icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="rest-social-item">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
          class="social-link"
        >
          <svg class="rest-social-icon" width="24px" height="24px">
            <use href="../img/task-9/symbol-defs.svg#icon-icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="rest-social-item">
        <a
          href="https://www.t.me/"
          target="_blank"
          rel="noreferrer noopener"
          class="social-link"
        >
          <svg class="rest-social-icon" width="24px" height="24px">
            <use href="../img/task-9/symbol-defs.svg#icon-icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
