<!-- Task 17 - The first room secction "Amenities" -->
<section class="seventeen-container">
    <div class="container">
<h2 class="seventeen-text-first">ЗРУЧНОСТІ У НОМЕРІ</h2>
<p class="seventeen-text seventeen-margin seventeen-margin-yet seventeen-text-size">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <div class="seventeen-contrainer-text seventeen-margin-yet">
        <div>
     
<h3 class="seventeen-text-second">ЗАГАЛЬНІ</h3>
<p class="seventeen-text seventeen-margin-small seventeen-size">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    
            </div>

<p class="seventeen-text seventeen-margin seventeen-size">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    
</div>
<div class="seventeen-contrainer-text seventeen-margin-yet">
<div>

<h3 class="seventeen-text-second">ВАННА КІМНАТА</h3>
<p class="seventeen-text seventeen-margin-small seventeen-size">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    
</div>

<p class="seventeen-text seventeen-margin seventeen-size">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    
</div>

<h3 class="seventeen-text-second">СПАЛЬНЯ</h3>
<p class="seventeen-text seventeen-margin seventeen-size seventeen-margin-yet">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
    
    <div class="seventeen-contrainer-text seventeen-margin-yet">

    
        <div>
<h3 class="seventeen-text-second">КУХНЯ</h3>
<p class="seventeen-text seventeen-margin-small seventeen-size">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
</div>
    

<p class="seventeen-text seventeen-margin seventeen-size">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
    
</div>

   <h3 class="seventeen-text-second">МЕДІА</h3>
   <p class="seventeen-text seventeen-margin seventeen-size seventeen-margin-last">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
    
<div class="seventeen-btn-flex">
    <div>
<button type="button" class="seventeen-btn-first js-open-modal" data-modal="1">ОФОРМИТИ БРОНЮВАННЯ</button>
<a href="./hotel.html" class="seventeen-btn-second">
    <p class="seventeen-text-last">Повернутися до перегляду номерів</p>
    <svg class="seventeen-svg" width="24" height="24">
        <use href="./symbol-defs.svg#icon-arrow-right-yellow">
        </use>
    </svg>
</a>
</div>
</div>
</div>
</section>