<!-- Task 12 - Hero hotel -->
<section class="hero-hotel">
  <div class="container">
    <h1 class="title-hotel">MIMIHO</h1>
    <h2 class="sub-title-hotel">Готель</h2>

    <div class="hero-first">
      <svg width="24" height="24" class="hero-icon-nav">
        <use href="../img/task_12/icon-hero-hotel.svg#"></use>
      </svg>
      <a
        href="https://goo.gl/maps/6x7AWUaYF18svN9c6"
        rel="noopener noreferrer nofollow"
        >Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
    </div>

    <ul class="hero-hotel-buttons">
      <li>
        <button type="button" class="hero-btn">Забронювати номер</button>
      </li>
      <li>
        <button type="button" class="hero-btn">Переглянути ціни</button>
      </li>
    </ul>
    <ul class="hero-soc-list">
      <li class="hero-soc-items">
        <a
          href="#"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use
              href="../img/task_12/icon-hero-hotel.svg#icon-akar-icons_instagram-fill"
            ></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-items">
        <a
          href="#"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use
              href="../img/task_12/icon-hero-hotel.svg#icon-jam_facebook-square"
            ></use>
          </svg>
        </a>
      </li>
      <li class="hero-soc-items">
        <a
          href="#"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="hero-soc-link"
        >
          <svg width="24" height="24" class="hero-soc-icons">
            <use
              href="../img/task_12/icon-hero-hotel.svg#icon-la_telegram-plane"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
