<button type="button">X</button>
<p>ЗАБРОНЮВАТИ НОМЕР</p>
<form action="">
  <input
    type="text"
    name="user-name"
    id="name"
    placeholder="Ваше ім’я"
    required
  />
  <label for="name">На кого забронювати номер?</label>

  <input
    type="tel"
    name="user-tel"
    id="tel"
    placeholder="+38 (___) ___-__-__"
    required
  />
  <label for="tel">Номер телефону</label>

  <input
    type="text"
    name="user-room"
    id="room"
    placeholder="Двомісний люкс"
    required
  />
  <label for="room">Категорія номеру</label>

  <input
    type="text"
    name="date-start"
    id="date-start"
    placeholder="Сьогодні"
    required
  />
  <label for="date-start">Дата заїзду</label>

  <input
    type="text"
    name="date-finish"
    id="date-finish"
    placeholder="Сьогодні"
    required
  />
  <label for="date-finish">Дата виїзду</label>

  <button type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
</form>
