<!-- Book Table Modal window -->
<div class="t-modal modal" data-modal="3">
  <button type="button" class="modal-close-btn js-modal-close">
    <svg class="modal-close-icon" width="24" height="24">
      <use href="./img/modal/img.svg#icon-modal-close-btn"></use>
    </svg>
  </button>
  <h2 class="modal-name">ЗАБРОНЮВАТИ СТОЛИК</h2>
  <form class="t-modal-form">
    <div class="t-modal-form-thumb">
      <label class="modal-list">
        <input
          class="modal-input"
          type="text"
          name="user-name"
          placeholder="Ваше ім’я"
          pattern="^[А-Яа-яЁё\s]+$"
          required
        />
        <span class="modal-label-name">На кого забронювати столик?</span>
      </label>
      <label class="modal-list">
        <select class="modal-input" name="user-number" required multiple>
          <option value="">1</option>
          <option value="" selected>2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
          <option value="">6</option>
          <option value="">7</option>
        </select>
        <span class="modal-label-name">Столик на яку кількість осіб?</span>
        <div class="modal-field-thumb">2</div>
      </label>
      <label class="modal-list">
        <input
          class="modal-input"
          type="tel"
          name="user-tel"
          placeholder="+38 (___) ___-__-__"
          pattern="^+380\d{3}\d{2}\d{2}\d{2}$"
          required
        />
        <span class="modal-label-name">Номер телефону</span>
      </label>
      <label class="modal-list">
        <select class="modal-input" name="user-date" required>
          <option value="" selected>Сьогодні</option>
          <option value="">Завтра</option>
        </select>
        <span class="modal-label-name">На яку дату бронювати?</span>
        <div class="modal-field-thumb">Сьогодні</div>
      </label>
    </div>
    <button type="submit" class="modal-send-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
  </form>
</div>
