<!-- Task 1 - Header (one for all pages) -->

<div class="container">
  <div class="position-header">
    <a class="header__site-name" href="./index.html">MIMIHO </a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item ml-decstop">
          <a class="nav__link" href="./restaurant.html">Ресторан</a>
        </li>
        <li class="nav__item mob-mr">
          <a
            class="nav__link-tel"
            href="tel:+380955559533"
            aria-label="Телефон"
          >
            <svg class="icon-header" width="24" style="height: 24px">
              <use href="./public/icon-headerfooter.svg#icon-phone"></use>
            </svg>
            <div class="reviews-mobile">095 555 95 33</div>
          </a>
        </li>
        <li class="nav__item ml-decstop">
          <a class="nav__link" href="./hotel.html">Готель</a>
        </li>
        <li class="nav__item">
          <a
            class="nav__link-tel"
            href="tel:+380668491089"
            aria-label="Телефон"
          >
            <svg class="icon-header" width="24" style="height: 24px">
              <use href="./public/icon-headerfooter.svg#icon-phone"></use>
            </svg>
            <div class="reviews-mobile">066 849 10 89</div>
          </a>
        </li>
      </ul>
    </nav>

    <ul class="social-header__list reviews-mobile-tablet">
      <li class="social__item">
        <a href="#" target="_blank" class="social__link"
          ><svg class="icons-header" width="24" style="height: 24px">
            <use href="./public/icon-headerfooter.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link"
          ><svg class="icons-header" width="24" style="height: 24px">
            <use href="./public/icon-headerfooter.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link"
          ><svg class="icons-header" width="24" style="height: 24px">
            <use href="./public/icon-headerfooter.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
