<!-- Task 10 - The first restaurant section "About our kitchen" -->
<section class="restaurant-kitchen">
  <div class="rest-container container">
    <h2 class="visually-hidden">About our kitchen</h2>
    <div class="rest-row-above">
      <div class="rest-box-above">
        <h2 class="text-above-head">Amet minim mollit non</h2>
        <h3 class="text-above-name">Mimiho</h3>
        <div class="text-above-box">
          <p class="text-above">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>
      <div class="img-above-box">
        <picture>
                  <source
          srcset="
            ./img/task-10/restaurant-kitchen.jpg    1x,
            ./img/task-10/restaurant-kitchen@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/task-10/restaurant-kitchen-tab.jpg    1x,
            ./img/task-10/restaurant-kitchen-tab@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          srcset="
            ./img/task-10/restaurant-kitchen-mob.jpg    1x,
            ./img/task-10/restaurant-kitchen-mob@2x.jpg 2x
          "
          src="./img/task-10/restaurant-kitchen-mob.jpg"
          alt="restaurant-kitchen"
          width="244"
          height="322"
          class="img-row-above"
        />
        </picture>
      </div>
    </div>
    <div class="rest-row-middle">
      <picture>
        <source
          srcset="
            ./img/task-10/restaurant-meat.jpg    1x,
            ./img/task-10/restaurant-meat@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/task-10/restaurant-meat-tab.jpg    1x,
            ./img/task-10/restaurant-meat-tab@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          srcset="
            ./img/task-10/restaurant-meat-mob.jpg    1x,
            ./img/task-10/restaurant-meat-mob@2x.jpg 2x
          "
          src="./img/task-10/restaurant-meat-mob.jpg"
          alt="fresh-meat"
          width="200"
          height="278"
          class="img-row-middle"
        />
      </picture>
      <div class="rest-box-middle">
        <p class="text-middle">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet..
        </p>
      </div>
    </div>
    <ul class="rest-photo-list list">
      <li class="rest-photo-item">
        <picture>
          <source
          srcset="
            ./img/task-10/restaurant-baker.jpg    1x,
            ./img/task-10/restaurant-baker@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/task-10/restaurant-baker-tab.jpg    1x,
            ./img/task-10/restaurant-baker-tab@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          srcset="
            ./img/task-10/restaurant-baker-mob.jpg    1x,
            ./img/task-10/restaurant-baker-mob@2x.jpg 2x
          "
          src="./img/task-10/restaurant-baker-mob.jpg"
          alt="hands-in-powder"
          width="245"
          height="245"
          class="img-row-bottom"
        />
        </picture>
      </li>
      <li class="rest-photo-item">
        <picture>
                    <source
          srcset="
            ./img/task-10/restaurant-hinkali.jpg    1x,
            ./img/task-10/restaurant-hinkali@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/task-10/restaurant-hinkali-tab.jpg    1x,
            ./img/task-10/restaurant-hinkali-tab@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          srcset="
            ./img/task-10/restaurant-hinkali-mob.jpg    1x,
            ./img/task-10/restaurant-hinkali-mob@2x.jpg 2x
          "
          src="./img/task-10/restaurant-hinkali-mob.jpg"
          alt="georgian-dish-hinkali"
          width="245"
          height="245"
          class="img-row-bottom"
        />
        </picture>
      </li>
    </ul>
    <ul class="rest-slider-list list">
      <li class="rest-slider-item">
        <button type="button" class="rest-slider-btn">
          <svg class="slider-icon" width="32px" height="32px">
            <use
              href="./img/task-10/symbol-defs.svg#icon-icon-arrow-left"
            ></use>
          </svg>
        </button>
      </li>
      <li class="rest-slider-item">
        <button type="button" class="rest-slider-btn">
          <svg class="slider-icon" width="32px" height="32px">
            <use
              href="./img/task-10/symbol-defs.svg#icon-icon-arrow-right"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
