<!-- Task 13 - The first hotel section "1 room luxe for 2 adult" -->
<section class="hotel-lux">
  <div class="container">
    <div class="hotel-lux-left-side">
      <p class="hotel-lux-pretitle-description">Amet minim mollit non</p>
      <h2 class="hotel-lux-pretitle">Mimiho</h2>
      <h1 class="hotel-lux-title"><span>Двомісний номер</span>люкс</h1>
      <p class="hotel-lux-title-description"></p>
      <ul class="hotel-lux-img-list">
        <li>
          <img
            src="#"
            alt="bathroom view"
            srcset="./ 1x, ./ 2x"
            width="254"
            height="254"
          />
        </li>
        <li>
          <img
            src="#"
            alt="view from holel window"
            srcset="./ 1x, ./ 2x"
            width="254"
            height="254"
          />
        </li>
      </ul>
      <ul class="hotel-lux-scrol">
        <li>
          <svg class="hotel-lux-scrol-icon" width="32" height="32">
            <use href="#"></use>
          </svg>
        </li>
        <li>
          <svg class="hotel-lux-scrol-icon" width="32" height="32">
            <use href="#"></use>
          </svg>
        </li>
      </ul>
    </div>

    <div class="hotel-lux-right-side">
      <img
        src="#"
        alt="room view"
        srcset="./ 1x, ./ 2x"
        width="780"
        height="574"
      />
      <div class="hotel-lux-btn-list">
        <a href="http://"
          ><button type="button" class="hotel-lux-btn-item">
            Детальніше
          </button></a
        >
        <button type="button" class="hotel-lux-btn-item">
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
