<!-- Task 9 - Hero restaurant -->
<section class="hero-restaurant">
  <div class="rest-conteiner">
    <div class="rest-hero-textbox">
      <h1 class="rest-hero-main">Міміно</h1>
      <p class="rest-hero-above">Ресторан</p>
      <h2 class="rest-hero-slogan">Смак життя 24/7</h2>
    </div>
    <address class="rest-map link">
      <a href="https://goo.gl/maps/8BwuumtGxX6HWBwf6" class="rest-map-link"
        >Україна, м.Полтава, <br />
        вул.Маршала Бірюзова,15</a
      >
    </address>
    <ul class="rest-modal-btn-list">
      <li class="rest-modal-btn-item">
        <button type="button" class="rest-modal-btn">Забронювати столик</button>
      </li>
      <li class="rest-modal-btn-item">
        <button type="button" class="rest-modal-btn">Переглянути меню</button>
      </li>
    </ul>
    <ul class="rest-social-list">
      <li class="rest-social-item">
        <a href="" class="link social-link">
          <svg class="rest-social-icon" width="24px" height="24px">
            <use href="./img/task-9/icon-instagram.svg"></use>
          </svg>
        </a>
      </li>
      <li class="rest-social-item">
        <a href="" class="link social-link">
          <svg class="rest-social-icon" width="24px" height="24px">
            <use href="./img/task-9/icon-facebook.svg"></use>
          </svg>
        </a>
      </li>
      <li class="rest-social-item">
        <a href="" class="link social-link">
          <svg class="rest-social-icon" width="24px" height="24px">
            <use href="./img/task-9/icon-telegram.svg"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
