<!-- Task 5 - The third home section "About our hotel" -->

<section class="container five-container">
    <h2 class="visually-hidden">About our hotel</h2>
    <div class="five-box">
        <p class="five-textroman">Amet minim mollit non</p>
        <h3 class="five-first-text">Mimiho</h3>
        <p class="five-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    <div>
    <img class="five-foto-moder five-shadow" 
    srcset="./img/task-five/modern-studio-apartment-1x.jpg 1x, 
    ./img/task-five/modern-studio-apartment-2x.jpg  2x"
    src="./img/task-five/modern-studio-apartment-1x.jpg" 
    alt="modern-studio-apartment-design-with-bedroom-living-space">
</div>
<div class="five-box-picture">
<p class="five-text five-brown-color">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>

    <img class="five-foto-hotel five-shadow" 
    srcset="./img/task-five/hotel-1x.jpg 1x, 
    ./img/task-five/hotel-2x.jpg 2x"
    src="./img/task-five/hotel-1x.jpg"
     alt="hotel-638023_19201">
    </div>
    <div class="five-container-swipe">
<ul class="five-swipe">
    <li>
    <img class="foto-hotel-reg five-shadow five-none"
    srcset="./img/task-five/white-towel-bed-1x.jpg 1x, 
    ./img/task-five/white-towel-bed-2x.jpg 2x"
    src="./img/task-five/white-towel-bed-1x.jpg" 
    alt="white-towel-bed-decoration-bedroom-interior">
    
</li>
<li>
    <img class="foto-hotel-reg five-shadow"
    srcset="./img/task-five/hotelregistration-1x.jpg 1x,
    ./img/task-five/hotelregistration-2x.jpg 2x"
  src="./img/task-five/hotelregistration-1x.jpg" 
    alt="hotel-registration">
</li>
</ul>
</div>
<ul >
    <li>
        <a href="" class="five-svg">
            <svg width="32" height="32">
                <use href="./symbol-defs.svg#icon-arrow-left-black">
                </use>
            </svg>
            <svg width="32" height="32">
                <use href="./symbol-defs.svg#icon-arrow-right-black">
                </use>
            </svg>
        </a>
    </li>
</ul>
</section>