/* 'Film P3 700' */
@font-face { 
    font-family: "Film P3";
    src: url(./fonts/FilmP3Bold.ttf) format("ttf"), 
         url(./fonts/FilmP3Bold.woff) format("woff");
    font-weight: bold;
}


/* 'Times New Roman 700' */
@font-face { 
    font-family: "Times New Roman";
    src: url(./fonts/TimesNewRomanPS-BoldMT.ttf) format("ttf"), 
         url(./fonts/TimesNewRomanPS-BoldMT.woff) format("woff");
    font-weight: bold;
}

/* 'Times New Roman 400' */
@font-face { 
    font-family: "Times New Roman";
    src: url(./fonts/TimesNewRomanPSMT.ttf) format("ttf"), 
         url(./fonts/TimesNewRomanPSMT.woff) format("woff");
    font-weight: normal;
}