/* Task 13 - The first hotel section "1 room luxe for 2 adult */

.hotel-lux {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--fon-lemon-color);
}

@media screen and (max-width: 1023px) {
  .container-lux-hotel {
    overflow: hidden;
  }
}

.hotel-lux-pretitle-description {
  font-family: 'Times New Roman', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  color: var(---second-text-color);
  margin-bottom: 8px;
}
.hotel-lux-pretitle {
  font-family: 'Film P3', sans-serif;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.hotel-lux-title {
  font-family: 'Times New Roman', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--black-color);
  margin-bottom: 12px;
}
.hotel-lux-title-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--text-color);
  max-width: 258px;
  margin-bottom: 32px;
}

.hotel-lux-list-img {
  display: flex;
  column-gap: 16px;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
  right: 130px;
}

.hotel-lux-room-img {
  width: 100%;
  height: 100%;
  max-width: 244px;
  max-height: 322px;
  margin-left: auto;
  margin-bottom: 32px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.hotel-lux-slider-img {
  max-width: 194px;
  max-width: 194px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.hotel-lux-list-slider {
  list-style: none;
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
}

.hotel-lux-left-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.hotel-lux-right-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.hotel-lux-list-btn {
  list-style: none;
  text-align: center;
  justify-content: center;
}

.hotel-lux-item-btn {
  width: 236px;
  height: 48px;
  background: var(--black-color);
  border: 2px solid var(--fon-lemon-color);
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hotel-lux-item-btn:hover,
.hotel-lux-item-btn:focus {
  background-color: var(--white-color);
  border-color: var(--akzent-yellow-color);
}

.hotel-lux-item-btn:not(:last-child) {
  margin-bottom: 16px;
}

.hotel-lux-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.02em;
  color: var(--akzent-yellow-color);
}

.hotel-lux-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.02em;
  color: var(--akzent-yellow-color);
  background: inherit;
  border: none;
}

/* ----------------TABLET------------------------------ */

@media screen and (min-width: 1024px) {
  .container-lux-hotel {
    position: relative;
  }

  .hotel-lux {
    padding-top: 62px;
    padding-bottom: 40px;
  }

  .hotel-lux-pretitle-description {
    font-size: 32px;
    line-height: 1.16;
    margin-bottom: 4px;
  }

  .hotel-lux-pretitle {
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    margin-bottom: 62px;
  }

  .hotel-lux-title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }

  .hotel-lux-title-description {
    font-size: 16px;
    line-height: 1.25;
    max-width: 439px;
    max-height: 80px;
    margin-bottom: 176px;
  }

  .hotel-lux-list-img {
    display: flex;
    column-gap: 40px;
    right: 0;
    margin-bottom: 64px;
  }

  .hotel-lux-room-img {
    position: absolute;
    max-width: 400px;
    max-height: 524px;
    margin: 0;
    right: 65px;
    top: -96px;
  }

  .hotel-lux-img-btn-box {
    position: relative;
    right: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  .hotel-lux-list-btn {
    position: absolute;
    top: 107%;
    left: 100%;
    transform: translate(-100%, -210%);
  }

  .hotel-lux-list-slider {
    position: absolute;
    top: 85%;
    left: 35%;
    margin-bottom: 0;
  }
}

/* ----------------------DESCTOP------------------------------ */

@media screen and (min-width: 1280px) {
  .container-lux-hotel {
    padding-bottom: 1px;
    margin: 0 auto;
  }

  .hotel-lux {
    padding-top: 72px;
    padding-bottom: 40px;
  }

  .hotel-lux-pretitle-description {
    font-size: 32px;
    line-height: 1.16;
  }

  .hotel-lux-pretitle {
    margin-bottom: 72px;
  }

  .hotel-lux-title {
    font-size: 36px;
    line-height: 1.14;
    margin-bottom: 24px;
  }

  .hotel-lux-title-description {
    max-width: 400px;
    margin-bottom: 188px;
  }

  .hotel-lux-room-img {
    max-width: 460px;
    max-height: 574px;
    right: 65px;
    top: -100px;
  }

  .hotel-lux-slider-img {
    max-width: 254px;
    max-height: 254px;
  }

  .hotel-lux-list-img {
    margin-bottom: 72px;
  }

  .hotel-lux-list-slider {
    position: absolute;
    top: 90%;
    left: 41%;
    margin-bottom: 0;
  }
}
