/* -----Task 15 - The third hotel section "1 room for 2 adult"----- */

.one-room-for-two-adult {
    padding-top: 32px;
    padding-bottom: 32px;
}
.container-task-fiveteen {
    padding-left: 15px;
    padding-right: 15px;
    color: var(---second-text-color);
}
.two-adult-text-non {
}
.two-adult-logo {
}
.two-adult-title {
}
.two-adult-text {
}
.two-adult-list-img {
}
.two-adult-item-img {
}
.two-adult-list-slider {
}
.two-adult-item-slider {
}
.two-adult-link {
}
.two-adult-btn {
}