.footer {
}

.footer-wrap.container {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 59px;
  background: #0e0c07;
}

.footer-logo {
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: #f3c653;
  text-transform: uppercase;
  margin: auto 0;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.footer-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.footer-navigation-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #f3c653;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-social-item {
  width: 24px;
  height: 24px;
}

.footer-social-name {
  display: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #f3c653;
}
.footer-social-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 415px) and (max-width: 1023px) {
  .footer {
    background: #0e0c07;
    margin: 0 auto;
  }
}

/* --------------------------------Tablet-------------------------------------- */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    background: #0e0c07;
    margin: 0 auto;
  }
  .footer-wrap.container {
    padding-top: 80px;
    padding-right: 122px;
    padding-bottom: 80px;
    padding-left: 154px;
  }
  .footer-logo {
    font-weight: 700;
    font-size: 64px;
    line-height: calc(69 / 64);
    letter-spacing: 0.3em;
  }
  .footer-navigation {
    flex-direction: row;
    margin-left: auto;
  }
  .footer-navigation-list {
    margin-bottom: 0px;
  }

  .footer-social-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
    margin-left: 137px;
  }
  .footer-social-item {
    width: auto;
    height: auto;
  }
  .footer-social-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 144px;
    height: 40px;
    padding: 8px 12px;
    border: 0.5px solid #f3c653;
    border-radius: 2px;
  }
  .footer-social-name {
    display: block;
  }
}

/* --------------------------------Desktop-------------------------------------- */
@media screen and (min-width: 1280px) {
  .footer {
    background: #0e0c07;
    width: 1280px;
    margin: 0 auto;
  }
  .footer-wrap.container {
    padding-top: 80px;
    padding-right: 186px;
    padding-bottom: 80px;
    padding-left: 216px;
  }
  .footer-logo {
    font-weight: 700;
    font-size: 64px;
    line-height: calc(69 / 64);
    letter-spacing: 0.3em;
  }
  .footer-navigation {
    flex-direction: row;
    margin-left: auto;
  }
  .footer-navigation-list {
    margin-bottom: 0px;
  }
  .footer-social-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
    margin-left: 199px;
  }
  .footer-social-item {
    width: auto;
    height: auto;
  }
  .footer-social-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 144px;
    height: 40px;
    padding: 8px 12px;
    border: 0.5px solid #f3c653;
    border-radius: 2px;
  }
  .footer-social-name {
    display: block;
  }
}

/* .footer {
  background-color: var(--footer-color);
}

.footer-position {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .footer-position {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 414px) {
  .footer-position {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-position {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer__site-name {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Film P3';
  letter-spacing: 0.3em;
  color: var(--akzent-yellow-color);
}

@media screen and (min-width: 320px) and (max-width: 413.9px) {
  .footer__site-name {
    width: 50%;
    font-size: 40px;
    line-height: 1;
  }
}

@media screen and (min-width: 414px) and (max-width: 1023.9px) {
  .footer__site-name {
    max-width: 127px;
    margin-left: 59px;

    font-size: 40px;
    line-height: 1;
  }
}

@media screen and (min-width: 1024px) {
  .footer__site-name {
    max-width: 202px;
    margin-left: 107px;
    font-size: 64px;
    line-height: 1;
  }
}

@media screen and (min-width: 1280px) {
  .footer__site-name {
    margin-left: 131px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__list {
    margin-left: 163px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__list {
    margin-left: 231px;
  }
}

.footer__item {
  margin-bottom: 16px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--akzent-yellow-color);
}

.position-social {
  display: flex;
}

@media screen and (min-width: 320px) {
  .position-social {
    flex-direction: column;
  }
}

@media screen and (min-width: 414px) and (max-width: 1023.9px) {
  .position-social {
    max-height: 160px;
    flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1024px) {
  .position-social {
    flex-direction: row;
    align-items: baseline;
  }
}
.social-footer__list {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
  .social-footer__list {
    flex-direction: row-reverse;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .social-footer__list {
    flex-direction: column;
    margin-left: 137px;
  }
}

@media screen and (min-width: 1280px) {
  .social-footer__list {
    margin-left: 199px;
  }
}

@media screen and (min-width: 1024px) {
  .social__item {
    margin-bottom: 12px;
  }

  .social__item:last-child {
    margin-bottom: 0;
  }
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: var(--akzent-yellow-color);
}

@media screen and (min-width: 1024px) {
  .social__link {
    width: 144px;
    padding: 10px 0 10px 0;
    border: 0.5px solid var(--akzent-yellow-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1023.9px) {
  .icon-footer {
    margin-right: 20px;
  }
  .icon-footer:last-child {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .telegram {
    margin-left: 15px;
  }
  .facebook {
    margin-left: 15px;
  }
  .instagram {
    margin-left: 11px;
  }
}

@media screen and (max-width: 1023.9px) {
  .reviews-mobile {
    display: none;

  }
} */
