/* -----------------------------Mobile------------------------------ */

.home-about-restrong {
  position: relative;
  padding: 15px 0 20px;
  background: #fffdee;
}

.home-about-restrong-wrap {
  max-width: 258px;
}

.home-about-restrong-header {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: #b4b4b4;
  margin-bottom: 12px;
}

.home-about-restrong-name {
  text-transform: uppercase;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 12px;
}

.home-about-restrong-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #7a7a7a;
  margin-bottom: 28px;
}

.home-about-restrong-img-one {
  display: block;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 244px;
  height: 322px;
  margin-left: auto;
  margin-bottom: 32px;
}

.home-about-two-wrap {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
}

.home-about-restrong-img-two {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 200px;
  height: 278px;
  margin-bottom: 32px;
}
.home-about-two-wrap .home-about-restrong-text {
  color: #c79002;
  max-width: 163px;
}

.about-restrong-photo-list {
  position: relative;
  transform: translateX(69px);
  right: 0;
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}
.about-restrong-photo-item {
}
.about-restrong-photo-img {
  width: 100%;
  height: 245px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.about-restrong-button-list {
  display: flex;
  justify-content: right;
  gap: 32px;
}
.about-restrong-button-item {
}
.about-restrong-button-btn {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
}
.about-restrong-button-svg {
  width: 30px;
  height: 17px;
  fill: #000000;
}
.about-restrong-button-svg:hover,
.about-restrong-button-svg:focus {
  fill: #f3c653;
}

/* -----------------------------Tablet------------------------------ */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .home-about-restrong {
    padding: 120px 0 32px;
  }
  .home-about-one-wrap {
    display: flex;
    gap: 26px;
  }
  .home-about-restrong-wrap {
    max-width: 439px;
    margin-bottom: 290px;
  }

  .home-about-restrong-header {
    /* font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400; */
    font-size: 32px;
    line-height: calc(37 / 32);
    margin-bottom: 4px;
  }

  .home-about-restrong-name {
    /* text-transform: uppercase;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700; */
    font-size: 64px;
    line-height: calc(69 / 64);
    /* letter-spacing: 0.3em; */
    margin-bottom: 24px;
  }

  .home-about-restrong-text {
    /* font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600; */
    font-size: 16px;
    line-height: calc(20 / 12);
    /* letter-spacing: 0.02em; */
    /* color: #7a7a7a; */
    margin-bottom: 0px;
  }

  .home-about-restrong-img-one {
    position: absolute;
    transform: translateY(-152px);
    /* display: block;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px; */
    width: 400px;
    height: 524px;
    margin-left: 0;
    margin-bottom: 0px;
  }

  .home-about-two-wrap {
    /* display: flex; */
    gap: 0px;
    /* flex-wrap: nowrap;
  align-items: center; */
    margin-bottom: 140px;
  }

  .home-about-restrong-img-two {
    position: static;
  }

  .home-about-restrong-img-two {
    position: absolute;
    top: 476px;
    /* /* background: #dadada; */
    /* box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25); */
    /* border-radius: 2px; */
    width: 350px;
    height: 500px;
    margin-bottom: 0px;
  }
  .home-about-two-wrap .home-about-restrong-text {
    /* color: #c79002; */
    margin-left: 398px;
    margin-bottom: 0px;
    max-width: 321px;
  }

  .about-restrong-photo-list {
    position: static;
    transform: none;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 32px;
  }
  .about-restrong-photo-item {
  }
  .about-restrong-photo-img {
    width: 100%;
    height: 194px;
  }
  .about-restrong-button-list {
    display: flex;
    justify-content: right;
    gap: 32px;
  }
  .about-restrong-button-item {
  }
  .about-restrong-button-btn {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
  }
  .about-restrong-button-svg {
    width: 30px;
    height: 17px;
    fill: #000000;
  }
  .about-restrong-button-svg:hover,
  .about-restrong-button-svg:focus {
    fill: #f3c653;
  }
}
