.link {
  text-decoration: none;
}

.hero-restaurant {
  position: relative;
  padding-top: 181px;
  padding-bottom: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../img/task-9/restaurant-bg-mob.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 414px;
  height: auto;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-restaurant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../img/task-9/restaurant-bg-mob@2x.jpg);
  }
}
.bg-rest {
  text-align: center;
}
.rest-hero-textbox {
  display: block;
}
.rest-hero-title {
  font-family: 'Film P3';
  font-size: 96px;
  line-height: calc(103 / 96);
  letter-spacing: 0.3em;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 24px;
  text-indent: 0.3em;
}
.rest-hero-pretitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 40px;
}
.rest-hero-slogan {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: calc(37 / 32);
  letter-spacing: 0.05em;
  color: var(--white-color);
  margin-bottom: 113px;
  text-transform: uppercase;
}

.rest-map {
  position: absolute;
  top: 64px;
  right: 15px;
  display: block;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--map-adress-color);
  width: 210px;
  height: 47px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  padding: 8px 0 9px 34px;
  text-align: left;
  cursor: pointer;
}

.rest-map-link::before {
  content: url(../img/task-9/icon-location.svg);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 6px;
  bottom: 14px;
}

.rest-map-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--map-adress-color);
}
.rest-modal-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-bottom: 58px;
}
.rest-modal-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--akzent-yellow-color);
  width: 236px;
  height: 48px;
  border: 2px solid white;
  border-radius: 25px;
  padding: 14px 20px;
  background: none;
  cursor: pointer;
  transition: 250ms;
}
.anker-menu-box {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--akzent-yellow-color);
  width: 236px;
  height: 48px;
  border: 2px solid white;
  border-radius: 25px;
  padding: 14px 20px;
  background: none;
  cursor: pointer;
  transition: 250ms;
}

.rest-modal-btn:hover,
.rest-modal-btn:focus {
  border-color: var(--akzent-yellow-color);
  background-color: white;
}
.anker-menu-box:hover,
.anker-menu-box:focus {
  border-color: var(--akzent-yellow-color);
  background-color: white;
}
.rest-social-list {
  display: flex;
  gap: 20px;
}
.rest-social-item {
}
.social-link {
}
.rest-social-icon {
  fill: var(--akzent-yellow-color);
}

/* -----------------Tablet-------------- */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero-restaurant {
    padding-top: 188px;
    padding-bottom: 15px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../img/task-9/restaurant-bg-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px) and (max-width: 1279px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px) and (max-width: 1279px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) and (max-width: 1279px) {
    .hero-restaurant {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/task-9/restaurant-bg-tab@2x.jpg);
    }
  }

  .rest-hero-title {
    font-size: 128px;
    line-height: 1.075;
    text-indent: 0.3em;
    margin-bottom: 16px;
  }
  .rest-hero-pretitle {
    font-size: 20px;
    line-height: 1.14;
    margin-bottom: 56px;
  }

  .rest-hero-slogan {
    font-size: 36px;
    line-height: calc(41 / 36);
    margin-bottom: 145px;
  }
  .rest-map {
    top: 600px;
    left: 47px;
    line-height: calc(20 / 16);
    width: 285px;
    height: 56px;
    padding: 8px 8px 8px 44px;
  }

  .rest-map-link::before {
    content: url(../img/task-9/icon-location-tab.svg);
    width: 24px;
    height: 24px;
    left: 10px;
    bottom: 16px;
  }

  .rest-map-link {
    font-size: 16px;
  }
  .rest-modal-btn-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 25px;
  }
  .rest-social-list {
    display: flex;
    gap: 20px;
  }
}

/* --------------------------------Desktop-------------------------------------- */

@media screen and (min-width: 1280px) {
  .hero-restaurant {
    padding-top: 164px;
    padding-bottom: 64px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../img/task-9/restaurant-bg.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .hero-restaurant {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url(../img/task-9/restaurant-bg@2x.jpg);
    }
  }
  .rest-hero-title {
    font-size: 128px;
    line-height: 1.075;
    margin-bottom: 32px;
  }
  .rest-hero-pretitle {
    font-size: 20px;
    margin-bottom: 64px;
  }

  .rest-hero-slogan {
    margin-bottom: 144px;
    font-size: 36px;
    line-height: 1.15;
  }
  .rest-map {
    top: 600px;
    left: 85px;
    line-height: calc(20 / 16);
    width: 285px;
    height: 56px;
    padding: 8px 8px 8px 44px;
  }
  .rest-map-link::before {
    content: url(../img/task-9/icon-location-tab.svg);
    width: 24px;
    height: 24px;
    left: 10px;
    bottom: 16px;
  }
  .rest-map-link {
    font-size: 16px;
  }
  .rest-modal-btn-list {
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 60px;
    margin-top: auto;
    margin-bottom: 0;
  }

  .rest-social-list {
    display: none;
  }
}
