


/* .r-modal-backdrop.is-hidden-r {
  opacity: 0;
  pointer-events: none;
   } */

   .overlay.active{
    opacity: 1;
   visibility: visible;
   }


.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  overflow: auto;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



  opacity: 0;
  visibility: hidden;
  z-index: 20;
}

/* .r-modal-backdrop.is-hidden-r .r-modal {
  transform: translate( -50%, -50%) scale(0.5);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
.modal.active{
   opacity: 1;
   visibility: visible;
}




.modal{
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;

  padding: 60px 15px;
  transform: translate(-50%, -50%) scaleX(1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fffdee;


  z-index: 30;
  opacity: 0;
  visibility: hidden;
}




.r-modal {
  
  min-height: 780px;

}

.r-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;

  background-color: transparent;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.r-modal-close-icon {
  fill: #808080;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.r-modal-name {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: #000000;
}

.r-modal-form-thumb {
  display: block;
}

.r-modal-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.r-modal-input {
  box-sizing: border-box;
  max-width: 100%;
  height: 54px;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  margin-bottom: 8px;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #808080;

  border: 1px solid #c79002;
  border-radius: 2px;
  background-color: #fffdee;
  outline: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.r-modal-arrow {
  background-color: transparent;
}

.r-modal-option-name {
  display: flex;
  width: 100px;
  height: 100px;
}

.r-modal-field {
  position: relative;
}

.r-modal-field-thumb {
  position: absolute;
  top: 0;
  left:0;
  display: flex;
  min-width: 100%;
  height: 54px;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  align-items: center;

  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #808080;

  border: 1px solid #c79002;
  border-radius: 2px;
  background-color: #fffdee;
  outline: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.r-modal-field-thumb::after {
  position: absolute;
  top: 50%;
  right: 22px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 12px;
  pointer-events: none;
  background-image: url(../img/modal/modal-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;

  transform: translateY(-50%);
}

.r-modal-label-name {
  margin-left: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #c79002;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.r-modal-send-btn {
  display: block;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 64px;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 2px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  cursor: pointer;
  border: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.r-modal-close-icon:hover,
.r-modal-close-icon:focus {
  fill: #000000;
}

.r-modal-input:hover,
.r-modal-input:focus,
.r-modal-field-thumb:hover,
.r-modal-field-thumb:focus {
  border: 1px solid #f3c653;
}

.r-modal-field-thumb:hover + .r-modal-field-thumb::after,
.r-modal-field-thumb:focus + .r-modal-field-thumb::after {
  fill: #f3c653;
}

.r-modal-send-btn:hover,
.r-modal-send-btn:focus {
  background: #f3c653;
  color: #000000;
}

@media screen and (min-width: 320px) {
  .r-modal {
    width: 414px;
  }

  .r-modal-field-thumb {
    max-width: 414px;
  }
}

@media screen and (min-width: 1024px) {
  .r-modal {
    width: 712px;
    min-height: 638px;
    padding: 60px;
  }

  .r-modal-name {
    margin-bottom: 36px;

    font-size: 40px;
    line-height: 1.15;
  }

  .r-modal-form-thumb {
    display: flex;
    flex-wrap: wrap;
    gap: 28px 16px;
  }

  .r-list {
    margin-left: 304px;
  }

  .r-modal-input,
  .r-modal-field-thumb {
    width: 288px;
    height: 64px;
  }

  .r-modal-list {
    margin-bottom: 0;
  }

  .r-modal-send-btn {
    font-size: 24px;
    line-height: 1.2;
    width: 592px;
  }

}
